html {
height: 100.2%;
}
body {
margin: 0;
background-color: #000;
}
a {
text-decoration: none;
color: #216f19;
}
	a:hover {
	text-decoration: underline;
	}
img {
border: none;
}
textarea {
width:97%;
height: 200px;
margin: 0% 1%;
margin-right: 1%;
}
#head {
width: 100%;
height: 100px;
background-color: #e21400;
float: left;
padding: 0;
margin: 0;
}
	#head img {
	border: none;
	}
#body {
width: 100%;
background-color: #0b3707;
float: left;
}
	/* left side */
	#left  {
	width: 15%;
	float: left;
	border-bottom: 4px solid #000;
	}
		.nav {
		width: 100%;
		list-style-type: none;
		margin: 0;
		padding: 0;
		background-color: #fff;
		float: left;
		}
			.nav li input {
			width: 100%;
			height: 24px;
			border: none;
			border-top: 3px solid #000;
			}
			.nav li input:hover {
			background-color: #cf8;
			}
			.nav li a{
			display: block;
			padding: 3px 10px;
			padding-top: 4px;
			}
			.nav li a:hover{
			background-color: #cf8;
			}
				.navheader {
				text-align: center;
				color: #fff;
				background-color: #000;
				padding: 3px;
				padding-bottom: 6px;
				}
				.actnav {
				background-color: #cf8;
				}
				.rtf {
				font-size: 80%;
				margin-left: 15px;
				}
	/* right side */
	#right {
	width: 85%;
	float: left;
	}
	.row {
	width: 100%;
	min-height: 20px;
	padding: 10px 0px;
	background-color: #fff;
	float: left;
	}
		.top {
		color: #fff;
		background-color: #000;
		text-align: center;
		padding: 4px 0px;
		}
		.h {
		background-color: #cf8;
		}
		.s {
		background-color: #ff8;
		}
		.settings {
		width: 99%;
		padding-left: 1%
		}
			.setheader{
			background-color: #ad6;
			width: 99%;
			padding: 4px 0px;
			padding-left: 1%;
			}
		.indicator {
		padding: 0px;
		color: #000;
		height: 20px;
		padding-bottom: 1px;
		margin-bottom: 0px;
		background-color: #216f19;
		border-top: 2px solid #030;
		border-bottom: 2px solid #000;
		padding-left: 1%;
		width: 99%;
		}
			.indicator a {
			color: #fff;
			}
			.newtopic {
			float: right;
			margin-right: 5%;
			}
		.title {
		width: 53%;
		padding-left: 0.5%;
		float: left;
		}
			.title a {
			text-decoration: underline;
			}
		.ttitle {
		width: 53%;
		padding-left: 1%;
		float: left;
		}
		.topics {
		width: 7%;
		text-align: right;
		float: left;
		}
		.views {
		width: 7%;
		text-align: right;
		float: left;
		}
		.posts {
		width: 13%;
		text-align: right;
		float: left;
		}
		.lastpost {
		width: 25%;
		float: left;
		padding-right:1%;
		text-align: right;
		}
		.intopic {
		font-size: 80%;
		}
		.tlastpost{
		text-align: center;
		padding-left: 3%;
		width: 22%;
		float: left;
		}
		.post{
		}
			.msg {
			min-height: 200px;
			width: 75%;
			padding-left: 1%;
			float: left;
			}
			.option_area {
			float: left;
			width: 99%;
			padding-left: 1%;
			}
			.info {
			width: 23%;
			min-height: 200px;
			padding-left: 1%;
			float: left;
			text-align: center;
			}

				.align {
				margin-left: 4%;
				text-align: left;
				}
.date {
padding-right: 25%;
color: #8b4;
float: right;
}
		.quote {
		border: 1px solid #cf8;
		background-color: #fff;
		}
			.qauthor {
			border-bottom: 1px solid #cf8;
			background-color: #be7;
			padding: 2px;
			}
			.qtext {
			padding: 1px 4px;
			}
#page {
width: 100%;
text-align: center;
float: left;
padding: 2px 0px;
color: #fff;
}
	#page a {
	color: #fff;
	background-color: #216f19;
	margin: 0px 2px;
	padding: 0px 4px;
	border: 1px solid #cf8;
	}
#feet {
width: 100%;
height: 25px;
background-color: #216f19;
float: left;
text-align: center;
}



